section.about-section
  .wrapper
    .about-section__container
      img.about-section__img-1(src="images/about-section-img-1.png" loading="lazy" width="733" height="834" alt="image")
      img.about-section__img-2(src="images/about-section-img-2.png" loading="lazy" width="178" height="213" alt="image")
      img.about-section__img-3(src="images/about-section-img-3.png" loading="lazy" width="378" height="348" alt="image")
      img.about-section__img-4(src="images/about-section-img-4.png" loading="lazy" width="117" height="115" alt="image")
      .about-section__box
        h2.about-section__title.font-s-44.text-up
          | Изучите нашу
          br
          | историю развития
        .about-section__text.font-w-medium
          .font-s-18-a
            | Центр «PodoEstetika» начал свою работу в 2016 году в Москве. Изначально 
            br.no-br
            | это было небольшое помещение, с ростом количества клиентов мы 
            br.no-br
            | постоянно расширялись, повышали свою квалификацию и улучшали 
            br.no-br
            | финансовые показатели. Сегодня «PodoEstetika» находится в ТОП-10 
            br.no-br
            | рейтинга СберЗдоровье по услугам подологии, у нас обеспечена полная 
            br.no-br
            | загрузка сотрудников, активно работает интернет-магазин, запущены 
            br.no-br
            | обучающие курсы для новых мастеров.
          .font-s-18-a
            | Центр подологии предлагает широкий спектр услуг, таких как 
            br.no-br
            | медицинский педикюр, гигиенический маникюр, удаление вросшего ногтя, 
            br.no-br
            | обработка натоптышей, удаление мозолей и бородавок, лечение грибка 
            br.no-br
            | стопы и ногтей, коррекция ногтей, профилактические процедуры для 
            br.no-br
            | здоровья стопы.
          .font-s-18-a
            | Рынок подологии в России обладает значительной актуальностью и 
            br.no-br
            | потенциалом развития, спрос на услуги ухода за ногами стабильно 
            br.no-br
            | растет. Для занятия этой профессией не требуется специальное 
            br.no-br
            | медицинское образование и лицензия, что позволяет франчайзи быстро 
            br.no-br
            | стартовать в этой нише.
          .font-s-18-a
            | Команда «PodoEstetika» поделится с вами своими знаниями и опытом, 
            br.no-br
            | проведет комплексное обучение, поможет выбрать подходящее помещение 
            br.no-br
            | и грамотно выстроить все бизнес-процессы, чтобы вы могли быстро 
            br.no-br
            | окупить инвестиции и перейти к стабильному развитию.
      form.about-section__form(data-feedback-form)
        textarea.input.input--textarea(type="text" name="answer" autocomplete="off" placeholder="Текст \nвопроса")
        .about-section__form-column
          input(type="text" name="honeyfield" class="honeypot" style="display:none")
          input.input(type="text" name="name" autocomplete="off" placeholder="Имя")
          input.input(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон")
        button.btn(type="submit") Задать вопрос
