footer.footer
  .wrapper
    .footer__container
      .footer__brand-block
        img.footer__logo(src="images/logo.svg" loading="lazy" width="238" height="133" alt="logo")
        .footer__brand.font-w-regular
          .font-s-16-a © PodoEstetika, 2025
          a.footer__privacy.font-s-14(href="#" data-remodal-target="privacy").agree-privacy Политика конфиденциальности
      a.footer__privacy-mobile.font-w-regular.font-s-14(href="#" data-remodal-target="privacy").agree-privacy Политика конфиденциальности
      button.btn.btn--call-me(data-remodal-target="modal-form-call-me") Заказать звонок
