header.header
  .wrapper
    .header__container
      .header__brand-block
        img.header__logo(src="images/logo.svg" loading="lazy" width="238" height="133" alt="logo")
        .header__brand
          .font-w-medium.font-s-16-a.color-red PodoEstetika
          .font-w-regular.font-s-16-a Франшиза <br> центра подологии
      button.btn.btn--call-me(data-remodal-target="modal-form-call-me") Заказать звонок
  .header__brand-mobile.font-w-regular.font-s-16-a Франшиза центра подологии
