section.invest-section
  .wrapper
    .invest-section__container
      img.invest-section__img-1(src="images/invest-section-img-1.png" loading="lazy" width="952" height="1096" alt="image")
      img.invest-section__img-2(src="images/invest-section-img-2.png" loading="lazy" width="457" height="493" alt="image")
      img.invest-section__img-3(src="images/invest-section-img-3.png" loading="lazy" width="106" height="118" alt="image")
      h2.invest-section__title.font-s-44.text-up
        | Какие форматы доступны 
        br
        | для партнеров
      .swiper-bullet
        .invest-section__cards.swiper-wrapper
          .invest-section__card.swiper-slide
            .invest-section__card-title.font-s-44.text-up Формат 1
            .invest-section__card-block
              .invest-section__card-item
                .invest-section__card-dot
                .font-w-regular.font-s-24 Площадь: от 20 м2
              .invest-section__card-item
                .invest-section__card-dot
                .font-w-regular.font-s-24 1 кабинет
              .invest-section__card-item
                .invest-section__card-dot
                .font-w-regular.font-s-24 1 зона стерилизации
            img.invest-section__card-img(src="images/invest-section-card-img.png" loading="lazy" width="454" height="355" alt="image")
            .invest-section__card-sub-title.font-s-24.text-up
              | Скачайте подробное
              br
              | описание формата
              br
              | и финансовую модель
            form.invest-section__form(data-feedback-form)
              input(type="text" name="honeyfield" class="honeypot" style="display:none")
              input.input(type="text" name="name" autocomplete="off" placeholder="Имя")
              input.input(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон")
              button.btn(type="submit") Скачать
          .invest-section__card.swiper-slide
            .invest-section__card-title.font-s-44.text-up Формат 2
            .invest-section__card-block
              .invest-section__card-item
                .invest-section__card-dot
                .font-w-regular.font-s-24 Площадь: от 40 м2
              .invest-section__card-item
                .invest-section__card-dot
                .font-w-regular.font-s-24 2 кабинета
              .invest-section__card-item
                .invest-section__card-dot
                .font-w-regular.font-s-24 1 зона стерилизации
              .invest-section__card-item
                .invest-section__card-dot
                .font-w-regular.font-s-24 1 зона ресепшн
            img.invest-section__card-img(src="images/invest-section-card-img.png" loading="lazy" width="454" height="355" alt="image")
            .invest-section__card-sub-title.font-s-24.text-up
              | Скачайте подробное
              br
              | описание формата
              br
              | и финансовую модель
            form.invest-section__form(data-feedback-form)
              input(type="text" name="honeyfield" class="honeypot" style="display:none")
              input.input(type="text" name="name" autocomplete="off" placeholder="Имя")
              input.input(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон")
              button.btn(type="submit") Скачать
        .bullet-pagination
