section.start-section
  .wrapper
    .start-section__container
      img.start-section__img-1(src="images/start-section-img-1.png" loading="lazy" width="689" height="633" alt="image")
      img.start-section__img-2(src="images/start-section-img-2.png" loading="lazy" width="392" height="262" alt="image")
      img.start-section__img-3(src="images/start-section-img-3.png" loading="lazy" width="395" height="272" alt="image")
      img.start-section__img-4(src="images/start-section-img-4.png" loading="lazy" width="153" height="140" alt="image")
      h2.start-section__title.font-s-44.text-up
        | Как проходит процесс 
        br.no-br
        | открытия нового центра
      .swiper-bullet
        .start-section__cards.swiper-wrapper
          .start-section__card.swiper-slide
            .start-section__card-dot
            .font-w-regular.font-s-24 Заключение договора франшизы
          .start-section__card.swiper-slide
            .start-section__card-dot
            .font-w-regular.font-s-24 Поиск помещения
          .start-section__card.swiper-slide
            .start-section__card-dot
            .font-w-regular.font-s-24 Заключение договора аренды
          .start-section__card.swiper-slide
            .start-section__card-dot
            .font-w-regular.font-s-24 Ремонт и оформление помещения
          .start-section__card.swiper-slide
            .start-section__card-dot
            .font-w-regular.font-s-24
              | Доставка и монтаж приобретенного 
              br.no-br
              | оборудования, мебели
          .start-section__card.swiper-slide
            .start-section__card-dot
            .font-w-regular.font-s-24
              | Формирование первичных запасов товара 
              br.no-br
              | и расходных материалов
          .start-section__card.swiper-slide
            .start-section__card-dot
            .font-w-regular.font-s-24 Запуск рекламных кампаний
          .start-section__card.swiper-slide
            .start-section__card-dot
            .font-w-regular.font-s-24 Поиск персонала
          .start-section__card.swiper-slide
            .start-section__card-dot
            .font-w-regular.font-s-24 Обучение персонала
          .start-section__card.swiper-slide
            .start-section__card-dot
            .font-w-regular.font-s-24 Официальное открытие
        .bullet-pagination.bullet-pagination--left
      .start-section__bottom
        .font-s-23.text-up
          | Работаем строго по 
          br.no-br
          | договору, в котором 
          br.no-br
          | описаны наши 
          br.no-br
          | обязанности и все 
          br.no-br
          | условия сотрудничества
        button.btn.start-section__btn(data-remodal-target="modal-form-agreement") Скачать пример <br> договора
