.btn
  height: 40px
  width 100%
  user-select: none
  position: relative
  display: flex;
  justify-content: center
  align-items: center
  overflow: hidden
  color: #fff
  border-radius: 10px
  background: #C3151B
  text-transform: uppercase
  font-family: 'MontserratAlternates-Bold'
  font-weight: 700
  font-size: 14px
  line-height: 110%
  transition transform 0.5s, top 0.8s
  +above($breakpoints.sm)
    font-size: 16px;
    height: 45px;
  +above($breakpoints.md)
    font-size: 18px;
    height: 53px;
  +above($breakpoints.xxl)
    font-size: 20px;
    height: 60px

  &:hover
    transform: scale(1.02)

  &:active
    top: 3px

  &::before
    content: ""
    position: absolute
    top: 0;
    height: 100%;
    width: 36px;
    transform: skewX(-45deg)
    left: -150%
    pointer-events: none
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
    animation: flareAnimation 4s infinite ease-in;
    vendord = official
    @keyframes flareAnimation
      0%
          left: -150%
      100% 
          left: 250%

  &--call-me
    text-transform: unset
    border-radius: 5px
    font-size: 12px
    height: 26px
    width 135px
    +above($breakpoints.sm)
      font-size: 14px;
      height: 30px;
      width 160px
    +above($breakpoints.md)
      font-size: 16px;
      height: 35px;
      width 200px
    +above($breakpoints.xxl)
      height: 40px
      width 230px
